@import url('https://fonts.googleapis.com/css2?family=Nanum+Myeongjo&family=Playfair+Display:ital@0;1&family=Raleway:ital,wght@0,100;0,200;0,300;0,400;1,100&family=Roboto:wght@100;300&display=swap');


:root{
    --bcg1: #d3c3b6;
    --bcg2: #d0a799;
    --bcg3: #e6d7ca;
    --bcg6: #f5efea;
    --bcg4: #e9e0d8;
    --bcg5: #b1ccae;
    --light__pink: #d0a799;
    --light__white: #f3f0f0;
    --dark__black: #333;
    --light__grey: #6c6764;
    --light__brown: #927b68;
    --dark__brown: #7b4f29;
    --logo__font: 'Nanum Myeongjo', serif;
    --title__font: 'Playfair Display', serif;
    --subtitle__text: 'Raleway', sans-serif;
    --small__text: 'Roboto', sans-serif;
}

*,
*::after,
*::before {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
a {
    text-decoration: none;
}
button {
    border: none;
    cursor: pointer;
}
html {
    font-size: 62.5%;
}
html,
body {
    height: 100%;
    overflow-x: hidden;
}





.nav__menu{
    display: none;
}

.nav{
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 2rem;
    background-color: var(--light__white);
}

.nav__logo, .nav__menu--hamburger .fa{
    font-size: 2.5rem;
}



.cos{
    display: none;
}

.logo{
    font-family: var(--title__font);
    font-weight: 400;
    text-transform: uppercase;
}

.logo__primary{
    color: var(--dark__black);
}

.logo__secondary{
    color: var(--light__grey);
}

.products__img, .bestsellers__img, .header__img{
    width: 100%;
    height: 100%;
    background-position: center;
    background-size: cover;
}

.header__img{
    background-image: url(img/white-cosmetic.jpg);
}


.flex{
    display: flex;
    justify-content: center;
    align-items: center;
}

.header__container{
    background-color: var(--bcg1);
    text-align: center;
}

.header__logo, .header__logo--secondary{
    font-size: 4rem;
}

.subtitle__text{
    font-family: var(--subtitle__text);
    font-weight: 300;
}

.header__content{
    padding-top: 5rem;
}

.header__text{
    padding-top: 1rem;
    color: var(--light__grey);
}


.header__text--secondary{
    margin: 3rem 3rem 0;
    padding: 1rem;
    border-top: 1px solid var(--dark__black);
}

.button{
    color: var(--light__grey);
    font-family: var(--small__text);
    background-color: transparent;
    border: 1px solid var(--light__grey);
    padding: 1.5rem 4rem;
    margin-top: 3rem;
    margin-bottom: 5rem;
    font-size: 2rem;
}

.main__quote{
    background-color: var(--light__white);
    text-align: center;
}

.quote__text{
    font-size: 3rem;
    padding: 4.5rem .5rem;
    font-family: var(--title__font);
    color: var(--light__brown);
}


/* ---------- section brands --------- */

.section__brands{
    background-color: var(--bcg2);
    flex-direction: column;
}

.section__brands--img img{
    width: 100%
}

.fa-thin{
    font-size: 10rem;
}

.section__brands--container{
    text-align: center;
}

.title{
    font-size: 5rem;
    font-family: var(--title__font);
    text-align: center;
    font-weight: 500;
}

.section__brands--title{
    padding: 3rem 0;
}

.text{
    font-family: var(--small__text);
    font-size: 1.6rem;
    line-height: 1.8;
}

.section__text{
    padding: 2rem 2rem;
}

.title, .text, .arrow__button, .button__text, .header__logo--text{
    color: var(--dark__black);
}

.arrow__button{
    padding-bottom: 2rem;
}

.button__text{
    font-family: var(--small__text);
    text-transform: uppercase;
    font-size: 2rem;
}

.fa-arrow-right-long{
    font-size: 2.2rem;
    padding-right: 1.3rem;
}


/* ----------- section offer ----------- */

.section__offer{
    background-color: var(--bcg4);
    
}

.offer__icons{
    flex-direction: column;
}
.fa-heart{
    font-size: 5rem;
    color: var(--light__brown);
    border: 1px solid var(--light__pink);
    border-radius: 50%;
    padding: 2rem;
    background-color: var(--light__pink);
    margin-bottom: 2rem;
}

.offer__texts{
    text-align: center;
}

.offer__text{
    padding: 3rem 2.5rem;
}

.offer__title{
    font-size: 3rem;
}

.fa-seedling, .fa-droplet, .fa-check{
    font-size: 2.2rem;
    padding-right: 1.2rem;
}

.offer__title--primary{
    padding-block: 4rem;
}

 .offer__title, .offer__title--primary{
    color: var(--dark__brown);
}

.fa-seedling, .fa-droplet, .fa-check{
    color: var(--light__pink);
}

/* --------- section products --------- */


.products__img{
    background-image: url(img/products.jpg);
}

.section__products--container, .section__bestsellers--container {
    flex-direction: column;
}

.products__title{
    padding: 3rem .4rem;
}
.section__products--container{
    background-color: var(--bcg3);
    text-align: center;
}

.products{
    font-size: 2.2rem;
    font-family: var(--subtitle__text);
    padding: .5rem 0;
    color: var(--dark__black);
}

.fa-angle-right{
    color: var(--dark__black);
    padding-right: 1rem;
}



/* ---------- section bestsellers --------- */


.bestsellers__products{
    font-size: 2rem;
    font-weight: 300;
}

.bestsellers__texts{
    padding-left: 3rem;
    padding-right: 3rem;
}

.bestsellers__img{
    background-image: url(img/1.jpg);
}


.section__bestsellers--container{
    background-color: var(--bcg5);
    text-align: center;
}

.arrow__button{
    padding-top: 3rem;
    padding-bottom: 5rem;
}


/* -------- section newsletter ---------- */

.section__newsletter{
    background-color: var(--bcg1);
}

.newsletter__title{
    font-family: var(--subtitle__text);
    font-size: 2.5rem;
    text-align: center;
    padding: 4rem 2rem ;
    color: var(--dark__black);
}

.newsletter__email{
    flex-direction: column;
}

.email__input{
    border: none;
    border-bottom: 1px solid var(--dark__black);
    background-color: transparent;
    font-family: var(--subtitle__text);
    font-size: 2rem; 
}

/* --------- min-width 768px ---------- */

@media (min-width: 768px){
    .nav__logo, .nav__menu--hamburger .fa{
        font-size: 4rem;
    }

    .nav__menu{
        display: none;
    }
    .nav{
        padding-left: 5rem;
        padding-right: 5rem;
    }

    .header__content,{
        padding-block: 13rem;
    }

    .header__logo--text{
        padding-block: 2rem;
    }

    .subtitle__text{
        font-size: 3rem;
    }

    .header__img{
        height: auto;
    }

    .grid{
        display: grid;
        grid-template-columns: 300px 1fr;
    }


    .header__logo, .header__logo--secondary{
        font-size: 8.5rem;
    }

    .quote__text{
        font-size: 5rem;
        padding: 6.3rem 1rem;
    }

    .title{
        font-size: 6.5rem;
    }

    .text{
       font-size: 2.5rem;
    }

    .section__brands--img{
        max-width: 60vw;
        margin: 0 auto;
    }

    .section__brands--img img{
       padding-top: 4rem ;
    }

    .section__products{
        grid-template-columns: 1fr 300px;
    }

    .products{
        font-size: 3rem;
        font-weight: 300;
    }

    .button{
        font-size: 3rem;
        padding-left: 5.5rem;
        padding-right: 5.5rem;
        margin-top: 5rem;
    }

    .button__text{
        font-size: 3.2rem;
    }

    .fa-arrow-right-long{
        font-size: 3.5rem;
    }
    

    .offer__title{
        font-size: 5rem;
    }

    .offer__title--primary{
        font-size: 8.5rem;
    }

    .fa-heart{
        font-size: 8rem;
        padding: 4rem;
        margin-bottom: 3rem;
    }

    .fa-seedling, .fa-droplet, .fa-check{
        font-size: 5rem;
    }

    /* .section__bestsellers--container{
        padding-left: 2rem;
        padding-right: 2rem;
    } */

    .bestsellers__products{
        font-size: 2.5rem;
    }

    .section__bestsellers--container{
        padding-block: 7rem;
    }

    .newsletter__title, .email__input{
        font-size: 3rem;
    }
}



@media (min-width: 1200px){
    
    .grid{
        display: grid;
        grid-template-columns: 35% 65%;
    }

    .nav__menu--hamburger{
        display: none;
    }

    .nav__menu{
        display: flex;
    }
    .nav__logo{
        cursor: pointer;
    }

    .nav__menu li{
        list-style: none;
    }

    .nav__menu a{
        font-size: 3rem;
        padding-inline: 3rem;
        color: var(--dark__black);
        padding-bottom: 1rem;
        transition: all .3s ease;
    }

    .nav__menu a:hover{
        border-bottom: 1px solid var(--dark__black);
    }


    .nav{
        padding-left: 5rem;
        padding-right: 5rem;
        /* position: fixed; */
    }

    .header__content{
        padding-block: 15rem;
    }

    .header__logo--text{
        padding-block: 4rem;
    }

    .subtitle__text{
        font-size: 4rem;
    }

    .header__logo, .header__logo--secondary{
        font-size: 10rem;
    }

    .header__container, .section__products--container{
        padding-inline: 5rem;
    }

    .button{
        font-size: 2.5rem;
        padding-inline: 6rem;
        padding-block: 1.5rem;
        margin-top: 7rem;
        transition: all .3s ease;
    }

    .button:hover{
        color: var(--dark__brown);
        border-color: var(--dark__brown);

    }

    .section__brands{
        flex-direction: initial;
    }

    .section__brands--container, .section__products--container{
        padding-block: 12rem;
        padding-inline: 3rem;
    }

    .section__products--container{
        padding-left: 15rem;
        padding-block: 4rem;
    }

    .section__brands--container{
        padding-right: 20rem;
    }

    .section__brands--img{
        padding-left: 30rem;
        width: 100%;
        justify-content: left;
        padding-top: 10rem;
    }

    .section__brands--img img{
        width: 80%;
        padding-top: 0;
        box-shadow:  -70px -70px 0 20px var(--dark__black);

    }

    .section__products{
        grid-template-columns: 55% 45%;
    }

    .title{
        font-size: 9rem;
        text-align: left;
    }

    .products{
        font-size: 3.5rem;
        padding-block: 1.5rem;
    }

    .products__title{
        padding-right: 10rem;
        padding-left: 0;
    }

    .products__text, .bestsellers__texts, .text__container{
        width: 100%;
        text-align: left;
        
    }

    .section__bestsellers--container{
        padding-left: 20rem;
    }
    .bestsellers__products{
        font-size: 2.5rem;
    }

   
    .arrow__button{
        justify-content: initial;
        align-items: initial;
        padding-left: 2rem;
        padding-top: 5rem;
    }

    .arrow__button a:hover{
        border-bottom: 1px solid var(--dark__black);
    }

    .button__text{
        cursor: pointer;
        font-size: 2.5rem;
    }

    .products__title{
        padding-bottom: 8rem;
    }

    .newsletter__title{
        font-size: 4rem;
    }

    .email__input{
        font-size: 3rem;
    }

    .quote__text{
        padding-block: 9rem;
        font-size: 5.5em;
    }

    .offer__text{
        /* padding-inline: 10rem; */
        font-size: 2rem;
        text-align: left;
    }

    .offer__title{
        font-size: 5rem;
    }

    .offer__title--primary{
        text-align: center;
    }

    .offer__icons{
        flex-direction: initial;
    }

    .offer__content{
        flex-direction: column;
        padding-block: 10rem;
        padding-inline: 5rem;
    }

    .newsletter__container{
        display: flex;
        justify-content: space-evenly;
        padding-block: 2rem;
        padding-inline: 5rem;

    }

    .newsletter__email{
        padding: 5rem 25rem 0rem 5rem ;
    }

    .newsletter__title{
        width: 40%;
        padding-top: 5rem;
    }

    .email__input{
        outline-color: var(--light__grey);
    }

    /* .footer__menu{
        flex-direction: row;
    } */

    .footer__container{
        justify-content: space-between;
        padding-inline: 3rem;
        padding-block: 5rem;
    }

    .fa-brands{
        font-size: 4rem;
        padding-inline: 2rem;
        cursor: pointer;
    }

    .footer__logo{
        padding-left: 5.3rem;
    }
}



